dbharbor==0.1.4
demail @ git+https://github.com/edire/demail.git@7e614361f729f5f44b7e461e2cb77f1ed0806faa
dlogging @ git+https://github.com/edire/dlogging.git@12c73a61a71ebde99c8e078df3a663ca78fb116a
dwebdriver @ git+https://github.com/edire/dwebdriver.git@517c8ac14250ddb7e2d2d8791e9c1a420f77f595
Office365-REST-Python-Client==2.5.1
numpy==1.26.1
openpyxl==3.1.2
pandas==2.1.1
prefect==2.19.9
pyodbc==5.0.1
sageintacctsdk @ git+https://github.com/edire/sageintacct.git@e10c9665fe3d624cd6f2b5b0d620fb014d50e35c
selenium==4.14.0
SQLAlchemy==2.0.22
webdriver-manager==4.0.1
yagmail==0.15.293